# Arquivos compilados do Python
__pycache__/
*.py[cod]

# Arquivos gerados pelo PyInstaller
build/
dist/

# Ambiente virtual (caso exista)
venv/
.venv/

# Arquivos temporários do VS Code
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db
